.commerce-pos-keypad {
  margin: 0 auto;

  @media screen and (min-width: 1200px) {
    width: 100%
  }
}

.commerce-pos-keypad * {
  box-sizing: border-box;
}

.commerce-pos-keypad .commerce-pos-keypad-numbers {
  position: relative
}

.commerce-pos-keypad .commerce-pos-keypad-keys {
  overflow: hidden;
  padding: 10px;
  margin: 20px 0;
  border: none;
  background: #F7F7F7;
}

.form-type-textfield.form-item-keypad-amount.form-text {
  width: 100%;
  padding: 40px 20px;
  background: #666;
  color: #fff;
  border: 0;
  border-right: 1px solid #fff;
  font-size: 50px;
  text-align: right;
}
.details-wrapper {
  input.button {
    background: #0074bd;
    color: #FFFFFF;
    padding: 5px 2.5em;
    position: absolute;
    margin-left: 162px;
    top: 35px;
    text-shadow: 0 1px hsla(0, 0%, 0%, 0.5);
     @media screen and (max-width: 700px) {
       position: relative;
       margin-left: 0;
       top: 0;
       white-space: normal;
     }

  }
}

.commerce-pos-keypad-cash-input-box-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: 0!important;
  -webkit-backface-visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
}

.commerce-pos-keypad-cash-input-box-container {
  background-color: rgba(0, 0, 0, .35);
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}

.commerce-pos-keypad-cash-input-box-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.commerce-pos-keypad-cash-input-box-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
  cursor: auto;
  font-size: 16px;
  line-height: 20px;
}

.commerce-pos-keypad-cash-input-box-popup-block {
  background: #fff;
  padding: 20px 60px;
  text-align: left;
  max-width: 650px;
  margin: 40px auto;
  position: relative;
  border-radius: 10px;
  border: 1px solid #eee;
  -webkit-box-shadow: 0 0 15px 1px #484848;
  -moz-box-shadow: 0 0 15px 1px #484848;
  box-shadow: 0 0 15px 1px #484848;
}

.commerce-pos-keypad-cash-input-box-content .title {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 15px;
  font-weight: bold;
}

.commerce-pos-keypad-cash-input-box-content table,
.commerce-pos-keypad-cash-input-box-content table td,
.commerce-pos-keypad-cash-input-box-content table tr {
  border: 0 !important;
}

.commerce-pos-keypad-cash-input-box-content input {
  border: 1px solid #cdcccb;
  padding: 5px 10px;
}

.commerce-pos-keypad-cash-input-box-content input.amount-output {
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  text-align: right;
  padding-right: 5px;
  width: 100%;
}

.commerce-pos-keypad-cash-input-box-content .cancel-total {
  font-size: 14px;
  color: #999;
  text-decoration: none;
}

.commerce-pos-keypad-cash-input-box-content .cancel-total:hover {
  text-decoration: underline;
  color: #999;
}

.commerce-pos-keypad-cash-input-box-content .add-total {
  display: inline-block;
  background-color: #5cb85c;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  float: right;
  transition: all .15s ease-in-out;
}

.commerce-pos-keypad-cash-input-box-content .add-total:hover,
.commerce-pos-keypad-cash-input-box-content .add-total:focus {
  text-decoration: none;
  background: #3a963a;
}

.commerce-pos-keypad-cash-input-box-content .row-total {
  font-weight: bold;
}

.commerce-pos-keypad-cash-input-icon {
  position: relative;
  bottom: 1px;
  background: url(../../../images/sprite_icons.png) -196px 0;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 10px;
}

.commerce-pos-keypad-cash-input-icon:hover {
  background: url(../../../images/sprite_icons.png) -226px 0;
}

.commerce-pos-keypad-keypad-wrap {
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: 0!important;
  -webkit-backface-visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
}

.commerce-pos-keypad-keypad-wrap * {
  box-sizing: inherit;
}

.commerce-pos-keypad-keypad-container {
  background-color: rgba(0, 0, 0, .35);
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}

.commerce-pos-keypad-keypad-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.commerce-pos-keypad-keypad-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
  cursor: auto;
  font-size: 16px;
  line-height: 20px;
}

.commerce-pos-keypad-keypad-popup-block {
  background: #fff;
  padding: 20px 60px;
  text-align: left;
  max-width: 650px;
  position: relative;
  border-radius: 10px;
  border: 1px solid #eee;
  -webkit-box-shadow: 0 0 15px 1px #484848;
  -moz-box-shadow: 0 0 15px 1px #484848;
  box-shadow: 0 0 15px 1px #484848;
}

.commerce-pos-keypad-keypad-value {
  background-color: #f0f0f0;
  border: 1px solid #d6d6d6;
  color: #000000;
  display: block;
  font-size: 22px;
  margin-bottom: 10px;
  padding: 14px;
  width: 100%;
}

.commerce-pos-keypad-keys::after {
  clear: both;
  content: '';
  display: block;
}

.commerce-pos-keypad-key {
  box-sizing: border-box;
  width: calc(100% / 3 - 10px);
  display: block;
  float: left;
  padding: 28px 5px;
  margin: 5px;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  font-size: 30px;
  text-align: center;
  background-color: #FFFFFF;
  color: #666666;
  cursor: pointer;
  transition: all .2s ease;
  &:hover, &:focus {
    cursor: pointer;
    background-color: #FFFFFF;
    border: 1px solid #0074bd;
    color: #0074bd;
  }

  &:last-of-type {
    background-color: #F0F0F0;
    &:hover, &:focus {
      background-color: #F0F0F0;
    }
  }
}

.commerce-pos-keypad-actions {
  .commerce-pos-keypad-key:last-of-type {
    background-color: #F0F0F0;
  }

  button {
    width: 33%;
    padding: 15px;
    margin-right: 10px;
    border: 10px solid white;
    border-radius: 30px;
    float: right;
    font-size: 2em
  }
}

.commerce-pos-keypad-close {
  display: inline-block;
  margin-top: 10px;
}

.commerce-pos-keypad-keypad-icon {
  color: #337ab7;
  cursor: pointer;
  display: inline-block;
  font-size: 25px;
  line-height: 30px;
  position: relative;
  vertical-align: middle;
}

.commerce-pos-keypad-keypad-icon:hover {
  color: #2e6da4;
}

@media screen and (max-width: 767px) {
  .commerce-pos-keypad-amount .form-item-keypad-amount input {
    font-size: 30px
  }

  .commerce-pos-keypad-key {
    font-size: 20px
  }

  .commerce-pos-keypad-key, #commerce-pos-pay-form-wrapper .commerce-pos-keypad-actions input[type="submit"] {
    padding: 10px
  }

  #commerce-pos-pay-form-wrapper .commerce-pos-keypad-actions input[type="submit"] {
    height: 51px
  }
}

@media screen and (max-width: 980px) {
  .commerce-pos-keypad {
    width: 100%
  }
}

// Accepted cards logos
.payment-method-icon-list .payment-method-icon {
  width: 64px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 64px 40px;
  margin-left: 0;
  padding-bottom: 15px;
}