{#
/**
 * @file
 *
 * Default template for displaying card logos on payment method add form.
 *
 * Available variables:
 * - cards: List of supported cards.
 *
 * @ingroup themeable
 */
#}
<div class="payment-method-icon-list">
  {% for card in cards %}
    <span class="payment-method-icon payment-method-icon--{{ card }}"></span>
  {% endfor %}
</div>
